body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: #7F7FD5;  
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hover-button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 20px 20px; 
    font-size: 20px; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out;
    
  }
  
  .hover-button:hover {
    background-color: #0056b3;
  }
  